/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
}

/* Container */
.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Left Side */
.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-illustration {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
}

/* Right Side */
.login-right {
  flex: 1;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.login-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.login-subtitle {
  font-size: 18px;
  color: #777;
  margin-bottom: 25px;
}

.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;

}