.analytics-con{
    margin: 0 130px; /* Center the form */
   /* padding: 20px;  Padding inside the form */
   /*  border-radius: 10px; Rounded corners */
  /*  background-color: white;  White background for the form */
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  Subtle shadow */
}